@media (prefers-color-scheme: light)
{
    :root
    {
        --primary: white;
        --primaryHover: lightgray;
        
        --textPrimary: black;
    }
}

@media (prefers-color-scheme: dark)
{
    :root
    {
        --primary: #222222;
        --primaryHover: #333333;
        
        --textPrimary: white;
    }
}

html, body
{
    margin: 0px;
    padding: 0px;
    
    font-family: Tahoma;
}

#info
{
    position: absolute;
    bottom: 0px;
    left: 0px;
    
    pointer-events: none;
    
    color: white;
}

#station
{
    box-sizing: border-box;
    
    position: absolute;
    top: -2em;
    left: 0px;
    
    background: #222222;
    color: white;
    
    padding: 1em;
    
    width: 100vw;
    height: 0px;
    
    overflow-x: hidden;
    
    transition: height 0.25s, top 0.25s;
}

#station.open
{
    top: 0px;
    height: 60vh;
}

h1#stationId
{
    margin: 0px;
}

#stationsBar
{
    position: absolute;
    top: 0px;
    left: 0px;
    
    display: flex;
    gap: 10px;
    
    padding-left: 10px;
}

#shopStatus > div
{
    background-color: var(--primary);
    color: var(--textPrimary);
    
    padding: 5px 15px;
    border-radius: 0px 0px 10px 10px;
}

#shopStatus > #moneyBox
{
    width: 60px;
}

.stationCard
{
    background-color: var(--primary);
    color: var(--textPrimary);
    
    padding: 5px 15px;
    border-radius: 0px 0px 10px 10px;
    
    position: relative;
    
    top: -62px;
    
    transition: all 0.2s;
}

.stationCard:hover,
.stationCard:focus,
.stationCard.selected
{
    background-color: var(--primaryHover);
    
    top: 0px;
}